body{
  background-image: url("https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.head{
  font-family: Montserrat;

}
.card1,.card2,.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 60px;
  text-align: center;
  font-family: Montserrat-light;
  padding: 16px;
  color: #556052;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.title {
  color: grey;
  font-size: 18px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:#af6b58;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.placeholder{
  color: #fff;
}
a {
  text-decoration: none;
  font-size: 22px;
  color:#556052;
}

button:hover, a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
